@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Format links */
a {
  text-decoration: none;
  color: rgb(105, 96, 88);
}

/* Remove bullet points */
ul {
  list-style-type: none;
}

/* Make header and its elements flexbox */
.header, .left-links, .right-links {
  display: flex;
}

/* Adjust link spaces */
.left-links, .right-links {
  gap: 16px;
  padding: 0 16px;
}

/* Push right links to the right */
.right-links {
  margin-left: auto;
}