body {
  background: #eee;
  font-family: sans-serif;
}

/* Set padding for each item */
.card,
.title,
.button-container {
  padding: 8px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  /* Decrease font size */
  font-size: 16px;
  /* Remove title's default margin */
  margin: 0;
}

.content {
  background: #e3f4ff;
  /* Separate from other elements using margin */
  margin: 8px auto;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  /* Format button */
  display: block;
  margin: auto;
  padding: 8px 24px;
}